Adafruit_BBIO==1.2.0
alarm==3.0
attr==0.3.2
ConfigParser==7.2.0
cryptography==46.0.6
docutils==0.22.4
filelock==3.25.2
gpiod==2.2.0
greatfet==2025.0.0
hid==1.0.9
HTMLParser==0.0.2
ipython==9.12.0
ipywidgets==8.1.8
jnius==1.1.0
keyring==25.7.0
lgpio==0.2.2.0
machine==0.0.1
protobuf==7.34.1
pyOpenSSL==25.0.0
pyOpenSSL==26.0.0
pyserial==3.5
redis==7.4.0
rpi_lgpio==0.6
simplejson==3.20.2
socketpool==0.5.3
Sphinx==9.1.0
sysv_ipc==1.2.0
thread==2.0.6
toml==0.10.2
urllib3_secure_extra==0.1.0
utime==1.1.7
xmlrpclib==1.0.1
